
:root {
    --color-first: #8ad4ce;
    --color-btn: #82c2b4;
    --color-white: #fff;
    --color-black: #333;
}

/*global setting*/
a {
    text-decoration: none;
    font-size: 1.3rem;
    color: var(--color-black);
    padding: 0.8rem 2rem;
}

.btn-link {
    color: var(--color-white);
}

li {
    list-style: none;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

/*link manu-bar*/
.nav-link a:hover {
    color: #e7e4e4;
} 

.btn-1 {
    background-color: var(--color-btn);
    color: var(--color-white);
    padding: 0.8rem 2rem;
    border-radius: 5px;
}

.btn-1:hover {
    background-color: var(--color-black);
    color: var(--color-white);
    transition:ease-in 0.3s;

}

/*btn content*/
.btn-2 {
    background-color: var(--color-white);
    color: var(--color-black);
    padding: 0.8rem 2rem;
    border-radius: 5px;
}

.btn-2:hover {
    background-color: var(--color-black);
    color: var(--color-white);
}
/*btn lastest news*/
.news-btn {
    padding: 0.5rem 0.8rem;
    color: var(--color-white);
    background-color: var(--color-btn);
    cursor: pointer;
    border: none;
    font-size: 0.9rem;
    border-radius: 5px;
}

.news-btn:hover {
    color: var(--color-white);
    background-color: var(--color-black);
    transition: ease-in 0.2s;
}

/*btn-footer*/
.social-media a {
    text-decoration: none;
    color: #fff;
    padding: 10px;
}

.social-media a:hover {
    color: var(--color-btn);
    transition: ease-in 0.2s;
}

/*section hidden*/
.section--hidden {
    transform: translateY(8rem);
    opacity: 0;
}