
:root {
    --color-first: #8ad4ce;
    --color-btn: #82c2b4;
    --color-white: #fff;
    --color-black: #333;
}

/*global setting*/
a {
    text-decoration: none;
    font-size: 1.3rem;
    color: var(--color-black);
}

.btn-link {
    color: var(--color-white);
}

li {
    list-style: none;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.section {
    transition: transform 1.2s, opacity 1s;
  }

/*link manu-bar*/
.nav-link a:hover {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.3);

} 

.btn-1, .btn-2 {
    background-color: var(--color-btn);
    color: var(--color-white);
    padding: 0.8rem 2rem;
    border-radius: 5px;
    cursor: pointer;
}

.btn-1:hover, .btn-2:hover, .submit:hover {
    background-color: var(--color-black);
    color: var(--color-white);
    transition:ease-in 0.3s;

}

/*btn content*/
/* .btn-2 {
    background-color: var(--color-white);
    color: var(--color-black);
    padding: 0.8rem 2rem;
    border-radius: 5px;
}

.btn-2:hover {
    background-color: var(--color-black);
    color: var(--color-white);
    transition:ease-in 0.3s;
} */
/*btn lastest news*/
.news-btn {
    padding: 0.5rem 0.8rem;
    color: var(--color-white);
    background-color: var(--color-btn);
    cursor: pointer;
    border: none;
    font-size: 0.9rem;
    border-radius: 5px;
}

.news-btn:hover {
    color: var(--color-white);
    background-color: var(--color-black);
    transition: ease-in 0.2s;
}

/*btn-footer*/
.social-media a {
    text-decoration: none;
    color: #fff;
    padding: 10px;
}

.social-media a:hover {
    color: var(--color-btn);
    transition: ease-in 0.2s;
}

/*section hidden*/
.section--hidden {
    transform: translateY(9rem);
    opacity: 0;
}

/*media query*/
@media (max-width: 700px) {
    
    a {
       font-size: 1rem;
     }

    .btn-1, .btn-2 {
        background-color: var(--color-btn);
        color: var(--color-white);
        padding: 0.6rem 1.5rem;
        border-radius: 5px;
        cursor: pointer;
    }

    #header {
        min-height: 90vh;
    }

    .toggle-btn {
        display: flex;
    }

    .nav-link {
      display: none;
      width: 100%;
    }
    
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        background-color: rgba(0, 0, 0, 0.5);
    }

    .navbar .logo {
        margin: 0;
        padding: 0.75rem;
        font-size: 2rem;
    }

    .letter {
        color: var(--color-first);
    }

    .nav-link ul {
        flex-direction: column;
        width: 100%;
        margin-bottom: 0.7rem;
    }

    .nav-link li {
        text-align: center;
        padding: 0.5rem;
    }

    .nav-link.active {
        display: flex;
    }

    .showcase {
        padding: 1.5rem;
        position: absolute;
        top: 250px;
        left: 0px;
    }

    .showcase .content-container {
        max-width: 500px;
        padding: 1.5rem;
        background-color: rgba(0, 0, 0, 0.3); 
    }

    .showcase .content-container h1 {
        color: var(--color-first);
        font-size: 2.5rem;
        font-weight: 1000;
        letter-spacing: 2px;
        font-family: 'Poppins', sans-serif;
    }

    .showcase .content-container p {
        font-size: 1.2rem;
    }

    /*about us */
    .about-us {
        height: 80vh;
        padding-top: 1rem;
        margin: 0 auto;
        margin-top: 0.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .para-content h1 {
        font-size: 1.8rem;
    }

    .content-1 {
       display: flex;
       justify-content: center;
       align-items: center;
       flex-direction: column;
    }

    .control-content .para-content {
        padding: 2rem;
    }

    /*gird container*/
    .idea {
        min-height: 60vh;
        margin-bottom: 2.5rem;
    }

    .grid-box {
        padding: 0.3rem 1.5rem;
    }

    .grid-box h2 {
        padding: 0.8rem 0;
        font-size: 1.2rem;
        text-transform: uppercase;
        font-weight: bold;
        display: flex;
        justify-content: flex-start;
    }
    
    .grid-box p {
        font-size: 1.1rem;
        line-height: 1.4;
    }

    .icons i {
        padding: 1rem;
    }
    
    /*concept*/
    .concept-container {
        padding-bottom: 2rem;
    }

    .concept-content .flex-control {
        max-width: 450px;
        padding-bottom: 1.2rem;
    }

    .concept-content .flex-control h1 {
        padding: 1rem 1rem;
        font-size: 1.5rem;
    }

    .concept-content .flex-control p {
        padding: 0 1rem;
        padding-bottom: 1rem;
    }

    .concept-content .btn-1 {
        margin-left: 1rem;
    }
}